* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem; }

p {
  margin: 1rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0; }

ul {
  list-style: none; }

a {
  color: var(--text);
  text-decoration: none; }

img {
  max-width: 100%; }

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem; }

.text-primary {
  color: var(--primary); }

.text-hint {
  color: var(--hint); }

.mb-5 {
  margin-top: 5rem; }

@keyframes bounce {
  0% {
    transform: rotate(-45deg); }
  10% {
    transform: rotate(-35deg); }
  70% {
    transform: rotate(20deg); }
  80% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }

/* Landscape phones and down */
/*Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.grid-container {
  display: grid;
  min-height: 100vh;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto / 350px auto; }
  @media (max-width: 480px) {
    .grid-container {
      grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto / auto; } }

header {
  grid-area: header;
  min-height: 30rem;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 480px) {
    header {
      padding: 2rem; } }
  header h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem; }
    @media (max-width: 480px) {
      header h1 {
        font-size: 4rem; } }
  header span {
    display: inline-block;
    animation: bounce 2s; }
  header p {
    letter-spacing: 0.5rem; }

.picture {
  grid-area: picture;
  padding: 8rem;
  background: var(--background);
  border-right: 1px solid #ddd; }
  .picture img {
    border-radius: 50%; }

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid #ddd;
  padding: 5rem; }
  @media (max-width: 480px) {
    aside {
      padding: 2rem 1rem; } }
  aside .block {
    margin-bottom: 5rem; }
  aside h3 {
    margin-bottom: 0;
    font-size: 1.4rem; }
  aside p {
    margin: 0 0 2rem 0;
    font-style: italic; }
  aside .bar-skill {
    height: 5px;
    background: var(--light);
    position: relative;
    margin: 1rem 0 2rem; }
  aside .bar-skill-progress {
    height: 5px;
    width: 80%;
    background: var(--primary); }
  aside .bar-skill-dot {
    width: 10px;
    height: 10px;
    background: blue;
    position: absolute;
    left: calc(80% - 5px);
    top: -2.5px;
    border-radius: 50%; }
  aside .star {
    margin: 2rem 0 3rem 0;
    color: var(--hint); }
  aside i {
    margin: 1rem;
    font-size: 2rem; }
  aside .social {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
    padding: 1rem 1rem;
    cursor: pointer; }
    aside .social:hover {
      background: var(--hint); }
      aside .social:hover i {
        color: var(--primary);
        transform: scale(1.3);
        transition: 0.2s; }
  aside i {
    margin-right: 1rem;
    flex: 0 0 50px; }
  aside p {
    flex: auto;
    margin: 0; }

main {
  grid-area: main;
  padding: 5rem; }
  @media (max-width: 480px) {
    main {
      padding: 2rem 1rem; } }
  main h2 {
    letter-spacing: 0.1rem;
    margin-bottom: 5rem; }
  main p {
    letter-spacing: 0.1rem;
    line-height: 3rem; }
  main h2 {
    margin-top: 5rem; }
  main .experience {
    display: flex;
    margin-bottom: 5rem; }
  main .time {
    padding: 0 2rem;
    text-align: center;
    border-right: 1px solid var(--hint); }
  main .detail {
    padding-left: 2rem; }
  main p {
    margin: 0; }
  main li {
    list-style: circle;
    margin: 1rem 4rem; }

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  background: var(--text);
  padding: 5rem; }
  footer h2 {
    margin-bottom: 3rem; }
  footer form {
    display: flex;
    align-items: center; }
    footer form .prefix,
    footer form .postfix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem; }
    footer form .prefix {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem; }
    footer form button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s; }
      footer form button:hover {
        opacity: 0.8; }
      footer form button .postfix {
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem; }
    footer form input {
      outline: 0;
      border: 0;
      min-width: 400px;
      padding: 1rem 2rem;
      line-height: 2rem; }
      @media (max-width: 480px) {
        footer form input {
          min-width: 180px;
          padding: 1rem 1rem; } }
      footer form input::placeholder {
        color: var(--text); }
